/* standart */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}

a {
    text-decoration: none;
}

img{
    display: block;
    max-width:100%;
    height: auto;
}
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
.section {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}
input{
    outline: none;
}
/* Reset */
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p{
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
/* Common styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.hide{
    display: none;
}

/* < !-- header --> */
.header{
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-logo-studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-nav-link {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    display: block;
    border-radius: 2px;
}
.header-nav-link.active{
    position: relative;
    color: #404BBF;

}
/* .header-nav-link:hover::after .header-nav-link:focus::after .header-nav-link.active::after {
    transform: translateY(0);
} */
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px
}
.header-nav {
    display: flex;
    align-items: center;
}
.address-list {
    display: flex;
    gap: 40px;
}
.header-nav-list {
    display: flex;
    gap: 40px;

}
.address {
    font-style: normal;
}

.address-list-item {
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404BBF;
}


/* < !-- hero-section --> */
.hero-section{
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hw-4/hero-bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .hero-section{
        padding: 112px 0;
    }

}

@media screen and (min-width: 1158px) {
    .hero-section{
        padding: 188px 0;
    }
}

.hero-section-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}
@media screen and (min-width: 768px) {
    .hero-section-name{
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        
    }
}

@media screen and (min-width: 1158px) {
    .hero-section-name{
        margin-bottom: 48px;
    }
}
.button,
.btn-send {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.btn-send:focus,
.btn-send:hover {
    background-color: #404BBF;
}
/* < !-- main - section-1 --> */
.about-name {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .about-name {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .about-name {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }
}

.about-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .about-text {
        font-weight: 400;
    }
}

.about-list {
    display: flex;
    gap: 72px 24px;
    flex-direction: column;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {}
.about-list-item {
    /* width: calc((100% - 72px) / 4); */
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .about-list-item{
        /* width: calc((100% - 72px) / 4); */
    }
}
.thumb{
    display: none;
}

@media screen and (min-width: 1158px) {
    .thumb{
        /* display: block; */
        display: flex;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
    }
}

/* < !-- main - section-2 --> */
.our-team-section {
    background-color: #F4F4FD;
}
.our-team-name {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.our-team-photo {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 264px;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .our-portfolio-photo{
        /* width: calc((100% - 72px) / 4); */
    }
}
.our-team-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-team-text {
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .our-team-list{

    }
}

@media screen and (min-width: 1158px) {
    .our-team-list{

    }
}
.name-container {
    padding-top: 32px;
    text-align: center;
    padding-bottom: 32px;
}
.name-container h3 {
    margin-bottom: 8px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-link{
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    fill: #F4F4FD;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus{
    background-color: #404BBF;
}
/* < !--main - section-3--> */
.our-portfolio-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}
.our-portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-portfolio-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .our-portfolio-list{

    }
}

@media screen and (min-width: 1158px) {
    /* .our-portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
    } */
}
.our-portfolio-container {
    padding: 32px 16px;
    border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);

}
.our-portfolio-container h3 {
    margin-bottom: 8px;
}
.our-portfolio-photo {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .our-portfolio-photo{
        /* width: calc((100% - 48px) / 3); */
    }
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    background-color: #4D5AE5;
}
.our-portfolio-photo:hover .overlay{
transform: translateY(0);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08)
}
.our-portfolio-photo:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-wrapper{
    position: relative;
    overflow: hidden;
}
/* < !-- footer --> */
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-logo-studio {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-text {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-align: left;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .footer-text{
        /* width: 264px; */
    }
}
.footer {
    background: #2E2F42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .footer{
        padding: 100px 0;
    }
}
.footer-socisl-text{
    color: var(--WHITE, #FFF);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
}
.social-footer{
    display: flex;
    gap: 16px;
}
.social-footer-link{
    background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        fill: #F4F4FD;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .container{
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    row-gap: 72px;

}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .footer .container{
        /* align-items: baseline; */
    }
}
.footer-logo-container{
    text-align: center;
}
@media screen and (min-width: 768px) {
    .footer-logo-container{

    }
}

@media screen and (min-width: 1158px) {
    .footer-logo-container{
        margin-right: 120px;
    }

}
.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #31d0aa;
}
/* footer-subscribe */
.footer-subscribe{
    margin-left: auto;
    
}
.footer-subscribe-text{
    color:#FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-input-subscribe{
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    background-color: transparent;

    color: var(--WHITE, #FFF);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    padding: 8px 16px;
}
.form-footer-subscribe{
    display: flex;
    align-items: center;
    gap: 24px;
}
.subscribe-social-btn{
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    justify-content: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 8px 24px;

    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-social-btn:hover,
.subscribe-social-btn:focus{
    background-color: #404BBF;
}

.subscribe-social-icon{
    fill: #FFFFFF;
    margin-left: 16px;
}
.form-input-subscribe::placeholder{
    color: currentColor;

}

/* Modal-window */
.backdrop{
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    
}
.modal{
    min-height: 584px;
    width: 408px;
    border-radius: 4px;
    background-color:  #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    padding: 24px;
    padding-top: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-btn{
    display: flex;
    padding: 0;
    min-height: 24px;
    min-width: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.modal-info{
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-btn-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper{
    margin-bottom: 8px;
}

.form-label-text{
    width: 100%;
    resize: none;
    min-height: 120px;
    max-height: 180px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label-text::placeholder{
    color: #8E8F99;

    
}
.form-label{
    margin-bottom: 4px;
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.label-container{
    position: relative;
    
}
.comment-container{
    margin-bottom: 16px;
}
.form-input{
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus,
.form-label-text:focus{
    border: 1px solid #4D5AE5;
}
.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
    fill: #4d5ae5;
}
 /* < !--Checkbox --> */
 .checkbox-container{
    margin-bottom: 24px;
 }

 .checkbox-input:focus+.form-agreement>.form-agreement-checkbox{
    border-color: #4D5AE5;
 }
.form-agreement{
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 24px;
    user-select: none;
    
}
.form-agreement-link{
    text-decoration-line: underline;
    color: #4D5AE5;
}
.form-agreement-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.form-agreement-icon{
    opacity: 0;
    fill: #FFF;
}

.checkbox-input:checked+.form-agreement>.form-agreement-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
input:checked+label>span>svg {
    opacity: 1;
}

